:root {
 --color: #0d1117;
 --accent: #01040a;
 --border-color: #3c434d;
 --text-color: #f0f6fc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
html {
  scroll-padding-top: 108px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  height: 100%;
  width: 100%;
  background-color: #dad7d775;
  z-index: 100;
}